{% extends "./templates/base.tpl.html" %}
{% block title %}{{ user.username }}'s slides.{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ root }}/../public/css/user_page.css">
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell-mdl-cell--8-col thumbnails">
    <p>{{ user.username }}'s slides</p>
    {% for slide in slides %}
      {{ include('./templates/slide_card.tpl.html') }}
    {% endfor %}
  </div>
  <div class="mdl-cell mdl-cell-mdl-cell--4-col">
    <!-- ユーザ情報の表示領域 -->
  </div>
</div>
{% endblock %}
