{% extends "base.tpl.html" %}
{% block title %}{{ slide.title }}{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ root }}/../public/css/slide_show.css">
{% endblock %}

{% block content %}
<div class="mdl-grid content">
  <div class="slide-contents mdl-cell mdl-cell-mdl-cell--8-col">
    <div class="slide-frame mdl-shadow--2dp mdl-color--white">
      <iframe id="slide-frame" src="{{ root ~ "/../public/static/index.html" }}?slide={{ slide.path }}"></iframe>
    </div>

    <div class="mdl-shadow--2dp mdl-color--white">
      <h1>{{ slide.title }}</h1>
    </div>

    <div class="mdl-shadow--2dp mdl-color--white">
      <pre>
        {{ slide.description }}
      </pre>
    </div>

    <div>
      <div class="mdl-cell mdl-shadow--2dp mdl-color--white">
        <p>Other slides by {{ presenter.username }}</p>
        <!-- 関連スライド表示部分 -->
      </div>
    </div>
  </div>

  <div class="meta-contents mdl-cell mdl-cell-mdl-cell--4-col">
    <div class="mdl-shadow--2dp mdl-color--white">
      <a href="{{ root }}/users/{{ presenter.username }}">{{ presenter.username }}</a>
    </div>

    <div class="mdl-shadow--2dp mdl-color--white">
      <!-- コメントの投稿フォームと表示部分 -->
      <form onsubmit="return false;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows= "2" name="post_comment" id="post_comment" ></textarea>
          <label class="mdl-textfield__label" for="post_comment">Comment...</label>
        </div>

        <br />

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="anonymous-check">
          <input type="checkbox" id="anonymous-check" class="mdl-checkbox__input" />
          <span class="mdl-checkbox__label">Comment as Anonymous</span>
        </label>

        <br />

        <input type="hidden" id="user_id" name="user_id" value="{{ session_user ? session_user.id : 0 }}" />
        <input type="hidden" id="slide_id" name="slide_id" value="{{ slide.id }}" />

        <button id="cancel-button" class="mdl-button mdl-js-button mdl-button--raised">Cancel</button>
        <button id="post-comment-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>Comment</button>
      </form>
    </div>

    <ul class="mdl-list comment-list" id="comment-list">

      {% for comment in comments|reverse %}
        <li class="mdl-list__item">
          {{ include('./templates/comment_card.tpl.html') }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
{% block body_script %}
  <script defer src="{{ root }}/../public/javascript/comment.js"></script>
{% endblock %}
