{% extends "base.tpl.html" %}
{% block title %}Upload new slide{% endblock %}

{% block content %}

<h1>Upload a PDF</h1>

<form enctype="multipart/form-data" action="./slides/create" method="post">

  <input type="file" name="slide" id="slide">

  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="title" id="title">
    <label class="mdl-textfield__label" for="title">Title ...</label>
  </div>

  <br>

  <div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text" rows= "5" name="description" id="description" ></textarea>
    <label class="mdl-textfield__label" for="description">Description ...</label>
  </div>

  <br>

  <input type="hidden" name="user_id" value="{{ session_user.id }}">

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Slide upload
  </button>
</form>
{% endblock %}
