<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @page_title %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Slide View Share</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/slides">Discovery</a>
            <a class="mdl-navigation__link" href="/slides/new">Upload</a>
            <% if @session_user %>
              <!-- Right aligned menu below button -->
              <button id="account-menu-lower-right"
                      class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
              </button>

              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                  for="account-menu-lower-right">
                <a class="mdl-menu__item" href="/users/<%= @session_user.username %>">My Slides</a>
                <a class="mdl-menu__item" href="#"> Account Settings</a>
                <a class="mdl-menu__item" href="/signout">Sign out</a>
              </ul>
            <% else %>
              <a class="mdl-navigation__link" href="/signup">Sing up</a>
              <a class="mdl-navigation__link" href="/signin">Sign in</a>
            <% end %>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
