<h2>Let's start Slide View Share</h2>

<p>Create Slide View Share account</p>

<form action="/users/create" method="post">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="username" name="username">
    <label class="mdl-textfield__label" for="username">User name</label>
  </div>

  <br>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="password" id="password" name="password">
    <label class="mdl-textfield__label" for="password">Password</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="password" id="password_confirmation" name="password_confirmation">
    <label class="mdl-textfield__label" for="password_confirmation">Password confirmation</label>
  </div>

  <br>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Sign up
  </button>
</form>
